body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:977px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:563px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:377px;
  top:72px;
  width:600px;
  height:563px;
}
#u1 {
  position:absolute;
  left:2px;
  top:274px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2 {
  position:absolute;
  left:668px;
  top:132px;
  width:169px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:454px;
  top:352px;
  width:273px;
  height:51px;
}
#u6 {
  position:absolute;
  left:2px;
  top:18px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:501px;
  top:361px;
  width:217px;
  height:33px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8 {
  position:absolute;
  left:470px;
  top:367px;
  width:21px;
  height:21px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:53px;
}
#u10 {
  position:absolute;
  left:741px;
  top:348px;
  width:160px;
  height:53px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:454px;
  top:284px;
  width:447px;
  height:51px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:501px;
  top:293px;
  width:391px;
  height:33px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u17 {
  position:absolute;
  left:470px;
  top:299px;
  width:21px;
  height:21px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:454px;
  top:220px;
  width:447px;
  height:51px;
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:501px;
  top:229px;
  width:391px;
  height:33px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u24 {
  position:absolute;
  left:470px;
  top:235px;
  width:21px;
  height:21px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:454px;
  top:433px;
  width:21px;
  height:21px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u29 {
  position:absolute;
  left:489px;
  top:431px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#009688;
}
#u31 {
  position:absolute;
  left:806px;
  top:433px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#009688;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:454px;
  top:473px;
  width:447px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:2px;
  top:15px;
  width:443px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u35 {
  position:absolute;
  left:514px;
  top:120px;
  width:120px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
